<h1>Name: <%= @shelter.name %></h1>
<p>Address: <%= @shelter.address %></p>
<p>City: <%= @shelter.city %></p>
<p>State: <%= @shelter.state %></p>
<p>Zip: <%= @shelter.zip %></p>


<%= link_to 'Update Shelter', "/shelters/#{@shelter.id}/edit" %>
<%= link_to 'Delete Shelter', "/shelters/#{@shelter.id}", method: :delete %>
<%= link_to 'Pets', "/shelters/#{@shelter.id}/pets" %>

<% @shelter.reviews.each do |review| %>
  <section id="review-<%= review.id %>">
    <h2>Title: <%= review.title %></h2>
    <% if review.image != "" %>
    	<p><%= image_tag("#{review.image}", size: "100")%></p>
    <% end %>
    <p>Rating: <%= review.rating %></p>
    <p>Content: <%= review.content %></p>
    <p><%= link_to 'Edit Review', "/shelters/#{@shelter.id}/reviews/#{review.id}/edit" %>
    <%= link_to 'Delete Review', "/shelters/reviews/#{review.id}", method: :delete %></p>
    <br>
  </section>
<% end %>
<%= link_to 'Add Review', "/shelters/#{@shelter.id}/reviews/new" %>
