<h2>Favorites Index</h2>

<% if @pets != 0 %>
  <% @pets.each do |pet| %>
    <section id="pet-<%= pet.id %>">
      <p>Name: <a href="/pets/<%= pet.id %>"><%=pet.name%></a></p>
      <img src="<%= pet.image %>"<br>
      <p>Age: <%= pet.age %></p>
      <p>Sex: <%= pet.sex %></p>
      <p>Shelter: <%= link_to "#{pet.shelter.name}", "/shelters/#{pet.shelter.id}" %></p>
      <br><%= button_to 'Unfavorite', "/favorites/#{pet.id}", method: :delete %>
      <br>
      <br>
    </section>
    <% end %>
  <% else %>
  <h2>You have no favorited pets.</h2>
<% end %>
<%= button_to 'Unfavorite All Pets', "/favorites", method: :delete %>
<%= button_to 'Apply for Pets', "/applications/new", method: :get %>
