<h2> Application Info  </h2>
	<p> Name: <%= @application.name %> </p>
	<p> Address: <%= @application.address %> </p>
	<p> City: <%= @application.city %> </p>
	<p> State: <%= @application.state %> </p>
	<p> Zip: <%= @application.zip %> </p>
	<p> Phone Number: <%= @application.phone %> </p>
	<p> Description: <%= @application.description %> </p>
	 	Pets: <% @application.pets.each do |pet|%>
		<section id="pet-<%= pet.id %>">
			<p>
			<%= link_to "#{pet.name}", "/pets/#{pet.id}" %>
			<% if pet.adoptable == "yes" %>
				<%= button_to "Approve", "/applications/#{@application.id}/#{pet.id}", method: :patch %>
			<% end %>
			</p>
			</section>
	<% end %>
