<h2> Application Info  </h2>
	<p> Name: <%= @application.name %> </p>
	<p> Address: <%= @application.address %> </p>
	<p> City: <%= @application.city %> </p>
	<p> State: <%= @application.state %> </p>
	<p> Zip: <%= @application.zip %> </p>
	<p> Phone Number: <%= @application.phone %> </p>
	<p> Description: <%= @application.description %> </p>


	<%= form_tag "/applications/#{@application.id}", method: :patch do %>
	 	Pets: <% @application.pets.each do |pet|%>
		<section id="pet-<%= pet.id %>">
			<p>
				<%= check_box_tag 'pets[]', pet.id -%>
				<%= link_to "#{pet.name}", "/pets/#{pet.id}" %>
				<% if pet.adoptable == "yes" %>
					<%= link_to "Approve", "/pets/#{pet.id}/applications/#{@application.id}", method: :patch %>
				<% else %>
					<%= link_to "Unapprove", "/applications/#{@application.id}/#{pet.id}", method: :delete %>
				<% end %>
				</p>
				</section>
			<% end %>
    <%= submit_tag 'Approve all selected'%>
	<% end %>
