<br>
<img src="<%= @pet.image %>"
<br>
<p>Name: <%= @pet.name %></p>
<p>Description: <%= @pet.description %></p>
<p>Age: <%= @pet.age %></p>
<p>Sex: <%= @pet.sex %></p>
<p>Adoptable: <%= @pet.adoptable %></p>

<%= link_to 'Update Pet', "/pets/#{@pet.id}/edit" %>
<%= link_to 'Delete Pet', "/pets/#{@pet.id}", method: :delete %>
