<br>
<img src="<%= @pet.image %>"
<br>
<p>Name: <%= @pet.name %></p>
<p>Description: <%= @pet.description %></p>
<p>Age: <%= @pet.age %></p>
<p>Sex: <%= @pet.sex %></p>
<% if @pet.adoptable == "yes" %>
  <p>Adoptable: yes</p>
<% else %>
  <p>Adoptable: Pending</p>
<% end %>

<% if favorites.contents.include?(@pet.id.to_s) %>
<%= button_to "Unfavorite", "/favorites/#{@pet.id}", method: :delete %>
<% else %>
<%= button_to "Add to Favorites", "/favorites/#{@pet.id}", method: :patch %>
<% end %>
<section id="applications">
<%= link_to 'View All Applications', "/pets/#{@pet.id}/applications" %>
</section>
<% if @pet.adoptable != "yes" %>
	<h3>On hold for: <%= @pet.adoptable %></h3>
<% end %>
<%= link_to 'Update Pet', "/pets/#{@pet.id}/edit" %>
<%= link_to 'Delete Pet', "/pets/#{@pet.id}", method: :delete %>
