<!DOCTYPE html>
<html>
  <head>
    <title>AdoptDontShop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <banner id="nav_bar">
      <%= link_to 'Pets Index', "/pets" %>
      <%= link_to 'Shelters Index', "/shelters" %>
     <%= link_to "Favorites(#{favorites.total_count})", "/favorites" %>
    </banner>
   <h1><% flash.each do |type, message| %><h1>
      <p><%= message %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
